.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.App > * {
  flex-grow: 0;
}

.Meat {
  flex-grow: 1;
  overflow: scroll;
  margin-bottom: 24px;
}
